* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

body {
  background: #f1f5f9; /* soft light gray */
  color: #0f172a;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    padding: 16px 60px;

    opacity: 0;
    transform: translateY(-80px);
}

.navbar.show {
    animation: slideDown 0.8s ease forwards;
}



.nav-inner {
    max-width: 1200px;
    margin: auto;
    padding: 14px 34px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    background: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(10px);
    border-radius: 60px;
    box-shadow: 0 10px 30px rgba(15, 23, 42, 0.08);

    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.nav-inner:hover {
    transform: translateY(-2px);
    box-shadow: 0 18px 40px rgba(15, 23, 42, 0.15);
}


/* LOGO */
.logo {
    display: flex;
    align-items: center;
    gap: 12px;
    font-weight: 600;
    transition: transform 0.3s ease;
}

.logo:hover {
    transform: scale(1.05);
}

.logo-circle {
        background: linear-gradient(to right, #4f46e5, #14b8a6);
    width: 36px;
    height: 36px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    transition: transform 0.5s ease;
}

.logo:hover .logo-circle {
    transform: rotate(360deg);
}



.logo-text {
    font-size: 17px;
    font-weight: 600;
    color: #0f172a;
}

/* LINKS */
.nav-links {
    display: flex;
    gap: 28px;
    list-style: none;
}

.nav-links a {
    position: relative;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    color: #334155;

    transition: color 0.3s ease, transform 0.3s ease;
}



.nav-links a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 0;
    height: 2px;
   background: linear-gradient(to right, #4f46e5, #14b8a6);

 
    transition: width 0.3s ease;
}

.nav-links a:hover::after,
.nav-links a.active::after {
    width: 100%;
}

.nav-links a:hover,
.nav-links a.active {
   color: #14b8a6;
    font-weight: 600;
}

.nav-btn {
     background: linear-gradient(to right, #4f46e5, #14b8a6);
  box-shadow: 0 8px 20px rgba(20, 184, 166, 0.35);
    padding: 10px 26px;
    border-radius: 30px;
    font-size: 13px;
    font-weight: 500;
    color: #fff;
    text-decoration: none;



    transition: all 0.25s ease;
}

.nav-btn:hover {
   transform: translateY(-3px) scale(1.04);
  box-shadow: 0 16px 35px rgba(20, 184, 166, 0.5);
}


/* RESPONSIVE */
@media (max-width: 900px) {
    .navbar {
        padding: 14px 24px;
    }

    .nav-links {
        display: none;
    }
}

@media (max-width: 500px) {
    .logo-text {
        display: none;
    }
}

@keyframes slideDown {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
